    <header class="bg-primary text-white px-6 py-4 shadow">
        <div class="max-w-6xl mx-auto flex justify-between items-center">
            <div class="flex items-center space-x-4">
                <img src="assets/logo.png" alt="Wimbledon Village HOA Logo" class="h-10 w-10 rounded-full">
                <h1 class="text-2xl font-semibold">Wimbledon Village HOA</h1>
            <nav class="space-x-4">
                <a href="/home" class="hover:underline">Home</a>
                <a href="/calendar" class="hover:underline">Calendar</a>
                <a href="/updates" class="hover:underline">Updates</a>
            </nav>
        </div>
        </div>
    </header>
    <div class="min-h-screen h-screen overflow-hidden">
        <router-outlet></router-outlet>
      </div>
    