
<p-menubar [model]="items" styleClass="bg-primary text-white px-6 py-3 shadow-lg">
    <ng-template pTemplate="start">
      <div class="flex items-center space-x-4 cursor-pointer" (click)="redirectToHome()">
        <img src="assets/logo.png" alt="Wimbledon Village HOA Logo" class="h-10 w-10 rounded-full shadow-md transition-transform hover:scale-105" />
        <span class="text-2xl font-bold tracking-tight">Wimbledon Village HOA</span>
      </div>
    </ng-template>
  
    <!-- <ng-template pTemplate="end">
      <div class="flex items-center space-x-3">
        <button pButton type="button" icon="pi pi-bell" class="p-button-rounded p-button-text text-white hover:text-accent transition-colors duration-200"></button>
        <button pButton type="button" icon="pi pi-cog" class="p-button-rounded p-button-text text-white hover:text-accent transition-colors duration-200"></button>
      </div>
    </ng-template> -->
  </p-menubar>
<div class="min-h-screen overflow-x-hidden overflow-y-auto">
    <router-outlet ></router-outlet>
    </div>
    