<br>
  <!-- Hero -->
  <section class="bg-[url('/assets/houses.png')] bg-no-repeat bg-contain bg-top bg-fixed text-white py-24 px-6" style="background-color: #f1efec;">
    <div class="bg-black/60 p-10 rounded-lg max-w-4xl mx-auto text-center">
      <h2 class="text-5xl font-extrabold mb-4">Welcome to Wimbledon Village</h2>
      <p class="text-lg text-white/90 mb-8">Stay informed about neighborhood news, events, and updates.</p>
      <!-- <button class="bg-white text-primary font-semibold px-6 py-3 rounded hover:bg-gray-100 transition">
        Sign Up for Text Alerts
      </button> -->
    </div>
  </section>
  
  <!-- Cards -->
  <section class="bg-surface text-text py-16 px-6 ">
    <div class="max-w-6xl mx-auto grid md:grid-cols-3 gap-8">
      <div class="p-6 border-l-4 border-accent bg-white rounded-lg shadow-md">
        <h3 class="text-xl font-semibold mb-2 flex items-center gap-2">
          <i class="pi pi-calendar text-accent"></i> Next Meeting
        </h3>
        <p class="text-text-muted">Join us on November 17th at 6PM for our monthly board meeting. The Community Forum will begin at 5:30PM.</p>
      </div>
      <div class="p-6 border-l-4 border-secondary bg-white rounded-lg shadow-md">
        <h3 class="text-xl font-semibold mb-2 flex items-center gap-2">
          <i class="pi pi-file text-secondary"></i> Forms
        </h3>
        <p class="text-text-muted">Check out the Forms tab to see what forms have been added for your convenience.</p>
      </div>
      <div class="p-6 border-l-4 border-primary bg-white rounded-lg shadow-md">
        <h3 class="text-xl font-semibold mb-2 flex items-center gap-2">
          <i class="pi pi-comments text-primary"></i> Website Feedback
        </h3>
        <p class="text-text-muted">Please submit any feedback or suggestions in the Contact Us tab. </p>
      </div>
    </div>
  </section>
  