/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevent scrolling */
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}